

ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
    

}

.container{
    color: white;
    text-align: center;
}

body
{

	background: -webkit-linear-gradient(to left,#2d4c60, #46545e);
	background: linear-gradient(to left,#2d4c60, #46545e);
  color: #a59898;

}













